services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "8080:9091"

  webapp:
    build:
      context: .
      dockerfile: webapp/Dockerfile
    ports:
      - "80:9090"
    depends_on:
      - server
