services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    expose:
      - "9090"   # internal only

  webapp:
    build:
      context: .
      dockerfile: webapp/Dockerfile
    ports:
      - "80:8080"
    depends_on:
      - server
